<%#= javascript_include_tag plugin_asset("my_file.js") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= I18n.t('views.plugins.camaleon_cms_rating.admin.index.title', default: 'Title') %></h4>
  </div>
  <div class="panel-body">
    <p><%= I18n.t('views.plugins.camaleon_cms_rating.admin.index.paragraph' ,default: 'Plugin ready to use in admin panel!.') %></p>
  </div>
</div>
